<h1>Make your form here</h1>

<form action="/pirates" method="post">
    <label for="ship_name_1">Ship Name</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1" >
    <label for="ship_type_1">Ship Type</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1" >
    <label for="ship_booty_1">Ship Booty</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1" >
    <label for="ship_name_2">Ship Name</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2" >
    <label for="ship_type_2">Ship Type</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2" >
    <label for="ship_booty_2">Ship Booty</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2" >
    <input type="submit">
</form>
